{% extends 'base.html' %}

{% block content %}

    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
            <div class="col-md-8 col-lg-6">
                <div class="login d-flex align-items-center py-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-9 col-lg-8 mx-auto">
                                <h1 class="login-heading mb-4">Мой Ежедневник</h1>
                                <h3 class="login-heading mb-4">Сбросить пароль</h3>
                                <p>
                                    Мы отправили вам инструкции о том, как сбросить пароль, если
                                     Учетная запись с указанным вами адресом электронной почты существует.
                                     Вы должны получить их в ближайшее время.
                                </p>
                                <p>
                                    Если вы не получили электронное письмо, убедитесь, что вы указали адрес электронной почты
                                     котором вы зарегистрированы.
                                     Не забудьте проверить папку со спамом.
                                </p>
                                <a href="{% url 'login' %}"
                                   class="btn btn-lg btn-info btn-block btn-login text-uppercase font-weight-bold mb-2">Log
                                    In</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}